body {
  overflow: hidden;
  margin: 0;
}

.hidden {
  display: none;
}

#game-over, #banner {
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: 'courier';
}

#game-over h2 {
  font-size: 24px;
  font-weight: 100;
}

#game-over .menu, #banner h2 {
  font-size: 14px;
}

#game-over .menu a{
  cursor: pointer;
}

#stats {
  position: fixed;
  top: 0px;
  right: 5px;
  font-size: 14px;
}
#stats dl,
#stats dl dt, 
#stats dl dd {
  display: inline;
  margin: 0;
  padding: 0;
}
#stats dl dt {
  padding-right: 0.25em;
}
#stats dl dd {
  border: solid 1px #ddd;
  padding: 2px;
}
#stats dl.primary {
  margin-right: 1em;
}
#stats dl.primary dt{
  font-weight: bold;
}
